/* These aren't being included in the built index.html */
h1 {
    color: yellow;
}
* {
    border: 1px solid red;
    font-family: 'Courier New', Courier, monospace;
    background-color: chartreuse;
}